nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Images Search
      a.navbar-brand(href='https://github.com/iamstevendao/images-search-abstraction-layer') iamstevendao/images-search-abstraction-layer
